<!DOCTYPE html>
<html>
  <head>
    <title>酒店管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/comment.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_jkvot6m5nu8.css">
</head>
  <body>
    <div class="all">
        <div class="header">
            <h1>酒店管理系统</h1>
            <img class="manager" src=<%= manager %> />
            <a href="/">退出登录</a>
        </div>
        <div class="slide">
            <a href="/user">
                <div class="nav" style="margin-top: 7%;">用户管理</div>
            </a>
            <a href="/room">
                <div class="nav">客房管理</div>
            </a>
            <a href="/reserve">
                <div class="nav">预订管理</div>
            </a>
            <a href="/order">
                <div class="nav">订单管理</div>
            </a>
            <a href="/service">
                <div class="nav">服务管理</div>
            </a>
            <a href="/comment">
                <div class="nav" style="background: gray;">评论管理</div>
            </a>
        </div>
        <div class="content">
            <a href="/comment"><button class="postHead">返回上一页</button></a>
            <div class="postBox">
                <div class="postBody">
                    <div style="width:60px;margin-left:20px;float:left;">
                        <img class="userImg" src=<%= post.userImage %>/>
                        <p style="text-align:center;color:white;"><%= post.userName %></p>
                    </div>
                    <div style="float:left;margin:25px 20px;">
                        <p style="color:white;font-size:0.8em">发布于<%= post.postTime %></p>
                        <p style="margin-top:10px;"><%= post.postContent %></p>
                    </div> 
                    <button class="reply-button" id=<%= post.postId %>>回复</button>
                </div>
                <ul>
                    <% for(var i = 0 ; i < reply.length; i++) {%>
                        <li class="replyBody">
                            <p style="width: 60%;padding-left: 3%;"><%= reply[i].replyContent %></p>
                            <p style="width: 24%;"><%= reply[i].replyTime %></p>
                            <p style="width: 13%;">
                                <a class="del" id=<%= reply[i].replyId %>>删除</a>
                            </p>
                        </li>
                    <% } %>   
                </ul> 
            </div>
        </div>
    </div>
    <!-- 回复弹出框 -->
    <div id="pop-container2">
        <div id="cover-tier" class="popPosition"></div>
        <div id="pop-tier2" class="popPosition">
            <i id="close-pop2" style="color:#e53834">&#10006;</i>
            <p style="margin-top: 40px;">您要回复该用户评论的是：</p>
            <textarea id="content"></textarea>
            <button id="reply-sure">确定</button>
        </div>
    </div>
    <!-- 删除弹出框 -->
    <div id="pop-container">
        <div id="cover-tier" class="popPosition"></div>
        <div id="pop-tier" class="popPosition">
            <i id="close-pop" style="color:#e53834">&#10006;</i>
            <div class="iconfont icon-dui" style="color:#e53834;margin-top:20px">
                <span>确定要删除吗？</span>
            </div>
            <button id="sure">确定</button>
        </div>
    </div>
  </body>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    var height = window.innerHeight;
    console.log(height-70); 
    $('.all').css('height',height);
    $('.slide').css('height',height-70);
    $('.content').css('height',height-70);

    // 点击按钮出现弹出层
    $('.reply-button').click(function(){
        $('#pop-container2').css('display','block');
    })
    $('.del').click(function(){
        $('#pop-container').css('display','block');
    })
    // 点击右上角X弹出层隐藏
    $('#close-pop2').click(function(){
        $('#pop-container2').css('display','none');
    })
    $('#close-pop').click(function(){
        $('#pop-container').css('display','none');
    })
    
    //回复评论
    var postId = "";
    $(".reply-button").click(function(){
        postId = $(this).attr("id");
        console.log(postId);
    })

    $('#reply-sure').click(function(){
        $.ajax({
            url: '/replyComment',
            method: 'POST',
            data: {
                postId: postId,
                content: $('#content').val()
            },
            success: function(data){
                if(data){
                    alert('操作成功');
                    window.location.href = '/commentdetail?commentId=' + data;
                }else{
                    alert('操作失败');
                } 
            }
        })
    })

    //删除回复
    var replyId = "";
    $(".del").click(function(){
        replyId = $(this).attr("id");
        console.log(replyId);
    })

    $('#sure').click(function(){
        $.ajax({
            url: '/delreply',
            method: 'POST',
            data: {
                replyId: replyId
            },
            success: function(data){
                if(data){
                    alert('操作成功');
                    window.location.href = '/commentdetail?commentId=' + data;
                }else{
                    alert('操作失败');
                } 
            }
        })
    })
  </script>
</html>
