<!DOCTYPE html>
<html>
  <head>
    <title>酒店管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/reserve.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_jkvot6m5nu8.css">
</head>
  <body>
    <div class="all">
        <div class="header">
            <h1>酒店管理系统</h1>
            <img class="manager" src=<%= manager %> />
            <a href="/">退出登录</a>
        </div>
        <div class="slide">
            <a href="/user">
                <div class="nav" style="margin-top: 7%;">用户管理</div>
            </a>
            <a href="/room">
                <div class="nav">客房管理</div>
            </a>
            <a href="/reserve">
                <div class="nav" style="background: gray;">预订管理</div>
            </a>
            <a href="/order">
                <div class="nav">订单管理</div>
            </a>
            <a href="/service">
                <div class="nav">服务管理</div>
            </a>
            <a href="/comment">
                <div class="nav">评论管理</div>
            </a>
        </div>
        <div class="content">
            <form style="margin-top: 3%;" method="post" action="searchReserve">
                <input class="search" type="text" placeholder="请输入用户名" name="reserve"/>
                <input class="search-button" type="submit" value="搜索"/>
                <input value="点击查询房间余量" id="searchnum" class="search-button" style="width:15%;margin-left:2%;text-align:center;"/>
            </form>
            <div class="reserveMain">
                <ul id="all">
                    <!-- <li>
                        <div class="reservehead">
                            <div class="reservetitle" style="width:6%;"><h3>序号</h3></div>
                            <div class="reservetitle"><h3>头像</h3></div>
                            <div class="reservetitle" style="width:14%;"><h3>用户名</h3></div>
                            <div class="reservetitle"><h3>预订房型</h3></div>
                            <div class="reservetitle"><h3>入住日期</h3></div>
                            <div class="reservetitle"><h3>离店日期</h3></div>
                            <div class="reservetitle"><h3>备注</h3></div>
                            <div class="reservetitle"><h3>下单日期</h3></div>
                            <div class="reservetitle"><h3>状态</h3></div>
                            <div class="reservetitle"><h3>操作</h3></div>
                        </div>
                    </li> -->
                    <% if(data.length == 0){ %>
                        <li>&nbsp;</li>
                    <% }else{ %>
                        <% for(var i = 0 ; i < data.length; i++) {%>
                            <li>
                                <div class="reservebody">
                                    <p class="reservecontent" style="width:6%;"><%= i+1 %></p>
                                    <div class="reservecontent">
                                        <img class="reserveImg" src=<%= data[i].userImage %>/> 
                                    </div>
                                    <p class="reservecontent" style="width:14%;">
                                        <%= data[i].userName %>
                                    </p>
                                    <p class="reservecontent"><%= data[i].roomType %></p>
                                    <p class="reservecontent"><%= data[i].inTime %></p>
                                    <p class="reservecontent"><%= data[i].outTime %></p>
                                    <p class="reservecontent"><%= data[i].remark %></p>
                                    <p class="reservecontent"><%= data[i].orderTime %></p>
                                    <div class="state">
                                        <p class="reservecontent" id==<%= data[i].orderNumber %>>
                                            <%= data[i].state %>
                                        </p>
                                    </div>
                                    <p class="reservecontent">
                                        <% if(data[i].state == '已拒绝'){ %>
                                            <a disabled style="cursor: not-allowed;">同意</a>
                                            <a disabled style="margin-left: 5%;cursor: not-allowed;">拒绝</a>
                                        <% }else{ %>
                                            <a class="agree" id=<%= data[i].orderNumber %>>同意</a>
                                            <a class="refuse" style="margin-left: 5%" id=<%= data[i].orderNumber %>>拒绝</a>
                                        <% } %>
                                    </p>
                                </div>
                            </li>
                        <% } %>
                    <% } %>   
                </ul>
            </div>
            <div class="pageBox">
                <div id="page"></div>
            </div>
        </div>
    </div>
    <!-- 同意弹出框 -->
    <div id="pop-container">
        <div id="cover-tier" class="popPosition"></div>
        <div id="pop-tier" class="popPosition">
            <div style="margin-top: 50px;">
                <p>已同意该用户的预订，</p>
                <p>他将入住的房间是
                    <span id="number" style="text-decoration: underline;"></span>
                </p>
            </div>
            <button id="agree-sure">确定</button>
        </div> 
    </div>
    <!-- 拒绝弹出框 -->
    <div id="pop-container1">
        <div id="cover-tier" class="popPosition"></div>
        <div id="pop-tier1" class="popPosition">
            <i id="close-pop1" style="color:#e53834">&#10006;</i>
            <p style="margin-top: 40px;">您拒绝用户预订的理由是：</p>
            <textarea id="reason"></textarea>
            <button id="refuse-sure">确定</button>
        </div> 
    </div>
  </body>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    var height = window.innerHeight;
    console.log(height-70); 
    $('.all').css('height',height);
    $('.slide').css('height',height-70);
    $('.content').css('height',height-70);
    
    //进入查询房间余量
    $('#searchnum').click(function(){
        window.location.href='/searchnum'; 
    })

    //分页
    function getzz() {
        var a = $("ul#all li");
        var zz =new Array(a.length);
        for(var i=0;i <a.length;i++){
            zz[i]=a[i].innerHTML;
        }
        return zz;
    }
    function change(e){
        pageno=e;
        if(e<1){
            e=1;
            pageno=1;
        }
        if(e>pageall){
            e=pageall;
            pageno=pageall;
        }
        $("#all").html("");
        var html='<li>'+
                    '<div class="reservehead">'+
                        '<div class="reservetitle" style="width:6%;"><h3>序号</h3></div>'+
                        '<div class="reservetitle"><h3>头像</h3></div>'+
                        '<div class="reservetitle" style="width:14%;"><h3>用户名</h3></div>'+
                        '<div class="reservetitle"><h3>预订房型</h3></div>'+
                        '<div class="reservetitle"><h3>入住日期</h3></div>'+
                        '<div class="reservetitle"><h3>离店日期</h3></div>'+
                        '<div class="reservetitle"><h3>备注</h3></div>'+
                        '<div class="reservetitle"><h3>下单日期</h3></div>'+
                        '<div class="reservetitle"><h3>状态</h3></div>'+
                        '<div class="reservetitle"><h3>操作</h3></div>'+
                    '</div>'
                '</li>';
        for(var i=0;i<pagesize;i++){
            html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';
            if(zz[(e-1)*pagesize+i+1]==null) break;
        }
        $("ul#all").html(html);
        var ye="";
        for(var j=1;j<=pageall;j++){
            if(e==j){
                ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#e53834'>"+j+"</a></span> ";
            }else{
                ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> ";
            }
        }
        var pageContent="";
        pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
        pageContent +='<span id="a1">'+pageall+'</span>页';
        pageContent +="<span id='a3' style='margin-left:10px'>"+ye+'</span>';
        pageContent +='<a href="#" style="margin-left:10px;" onClick="change(--pageno)">上一页</a>';
        pageContent +='<a href="#" style="margin-left:5px;" onClick="change(++pageno)">下一页</a>';
        $("#page").html(pageContent);
    }
    var zz = getzz();
    var pageno = 1 ; 
    var pagesize = 5; 
    if(zz.length%pagesize == 0){
        var pageall = zz.length/pagesize;
    }else{
        var pageall = parseInt(zz.length/pagesize) + 1;
    } 
    change(1);

    // 点击按钮出现弹出层
    $('.refuse').click(function(){
        $('#pop-container1').css('display','block');
    })
    // 点击右上角X弹出层隐藏
    $('#close-pop1').click(function(){
        $('#pop-container1').css('display','none');
    })
    
    //同意预订
    var agree = "";
    $(".agree").click(function(){
        agree = $(this).attr("id");
        console.log(agree);
        $.ajax({
            url: '/agreeReserve',
            method: 'POST',
            data:{
                agree: agree
            },
            success: function(data){
                if(data.indexOf('success') != -1 ){
                    $('#pop-container').css('display','block');
                    $('#number').html('&nbsp;'+data.slice(8)+'&nbsp;');
                }else if(data == 'room-full'){
                    alert('没有空余房间！');
                }else{
                    alert('操作失败！');
                }
            }
        })
    })
    
    $('#agree-sure').click(function(){   
        alert('操作成功');
        window.location.href='/reserve';       
    })

    //拒绝预订
    var refuse = "";
    $(".refuse").click(function(){
        refuse = $(this).attr("id");
        console.log(refuse);
    })

    $('#refuse-sure').click(function(){
        $.ajax({
            url: '/refuseReserve',
            method: 'POST',
            data:{
                refuse: refuse,
                reason: $('#reason').val()
            },
            success: function(data){
                if(data == "success"){
                    alert('操作成功');
                }else{
                    alert('操作失败');
                } 
                window.location.href='/reserve';
            }
        })
    })
  </script>
</html>
